<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Book Logger</a>
        <ul>
            <li class="header-link"><a href="/books">Books</a></li>
            <li class="header-link"><a href="/books/new">New Book</a></li>
            <li class="header-link"><a href="/authors">Authors</a></li>
            <li class="header-link"><a href="/authors/new">New Author</a></li>
        </ul>
    </nav>
</header>